body{
    background:rgb(25, 25, 25);
    color:azure;
    text-align: center;
    min-height:100%;
    position:relative;


}

#cuad{
   border: 1px red
}

#caj{
background:url('c.jpg');

}
#caj1{
background:url('d.jpg');

}
#caj2{
background:url('e.jpg');

}
#caj3{
background:url('f.jpg');

}
